# Enforce LF line endings for all text files to keep editorconfig (end_of_line = lf) consistent
* text=auto eol=lf
lib/Ashes/linux-x64/libLLVM.so filter=lfs diff=lfs merge=lfs -text
lib/Ashes/win-x64/libLLVM.dll filter=lfs diff=lfs merge=lfs -text
